APP_NAME="Sistem Informasi Monitoring dan Manajemen Air"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://aplikasi-web-air.test
APP_TIMEZONE=Asia/Makassar
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=monitoring_air
DB_USERNAME=root
DB_PASSWORD=
PUBLIC_PAGE_ENABLED=true
DEVICE_OFFLINE_MINUTES=15
DASHBOARD_REFRESH_SECONDS=30
SESSION_TIMEOUT_MINUTES=120

